@{
    ViewData["Title"] = "Gra";
}

<main>
    <section>
        <h3>Ustawiono @ViewBag.maxNumber jako maksymalną liczba losowania.</h3>
    </section>
    <partial name="_DrawForm"/>
    <partial name="_GuessForm"/>
    <partial name="_SetForm"/>
</main>