
<section>
    <h3>Podaj liczbę:</h3>
    <form onsubmit="window.open('/guess,' + document.getElementById('inputNumber').value, '_self'); return false;">
        <input type="number" id="inputNumber" required/>
        <input type="submit" value="Sprawdź"/>
    </form>
</section>