
<section>
    <h3>Ustaw maksymalną liczbę przedziału:</h3>
    <form onsubmit="window.open('/set,' + document.getElementById('maxNumber').value, '_self'); return false;">
        <input type="number" id="maxNumber" required/>
        <input type="submit" value="Ustaw"/>
    </form>
</section>